name: CI
on: [push, pull_request]

jobs:

  package-haxelib:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.2.5

      - name: Set HAXEPATH
        run: |
          echo "HAXEPATH=$HAXE_STD_PATH/.." >> $GITHUB_ENV

      - name: Install Haxe dependencies
        run: |
          haxelib install openfl --quiet
          haxelib install lime --quiet
          haxelib install hxp --quiet
          haxelib install format --quiet

      - name: Rebuild swf run.n
        run: |
          haxe rebuild.hxml

      - uses: actions/upload-artifact@v4
        with:
          name: swf-haxelib
          path: |
            ./
            !tests/
            !haxe-*-*/
            !neko-*-*/
            !.git/
          if-no-files-found: error

  samples:
    needs: package-haxelib
    strategy:
      matrix:
        haxe-version: [4.0.5, 4.1.5, 4.2.5, 4.3.6]
    runs-on: ubuntu-latest
    steps:

      - uses: krdlab/setup-haxe@v1
        with:
          haxe-version: ${{ matrix.haxe-version }}

      - name: Set HAXEPATH
        run: |
          echo "HAXEPATH=$HAXE_STD_PATH/.." >> $GITHUB_ENV

      - uses: actions/download-artifact@v4
        with:
          name: swf-haxelib
          path: swf-haxelib

      - name: Install Haxe dependencies
        run: |
          haxelib install lime --quiet
          haxelib install openfl --quiet
          haxelib install layout --quiet
          haxelib run openfl setup -alias -y
          haxelib git openfl-samples https://github.com/openfl/openfl-samples --quiet
          haxelib dev swf swf-haxelib

      - name: Create OpenFL samples
        run: |
          openfl create NyanCat -verbose -nocolor
          openfl create SimpleSWFLayout -verbose -nocolor

      - name: Build Neko samples
        run: |
          lime build NyanCat html5 -release -verbose -nocolor
          lime build SimpleSWFLayout html5 -release -verbose -nocolor

      - name: Build Neko samples
        run: |
          lime build NyanCat neko -release -verbose -nocolor
          lime build SimpleSWFLayout neko -release -verbose -nocolor

      - name: Build Flash samples
        run: |
          lime build NyanCat flash -release -verbose -nocolor
          lime build SimpleSWFLayout flash -release -verbose -nocolor

      - name: Build HashLink samples
        if: ${{ matrix.haxe-version != '3.4.7' }}
        run: |
          lime build NyanCat hl -release -verbose -nocolor
          lime build SimpleSWFLayout hl -release -verbose -nocolor

  unit-test-hashlink:
    strategy:
      matrix:
        # HashLink is not supported by Haxe 3
        haxe-version: [4.0.5, 4.1.5, 4.2.5, 4.3.6]
    # AL init fails on both windows and ubuntu
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - uses: krdlab/setup-haxe@8f35d1215b93e940a76f9470e22e8a5ba6149598
        with:
          haxe-version: ${{ matrix.haxe-version }}

      - name: Set HAXEPATH
        run: |
          echo "HAXEPATH=$HAXE_STD_PATH/.." >> $GITHUB_ENV

      - name: Install Haxe dependencies
        run: |
          haxelib install lime --quiet
          haxelib install openfl --quiet
          haxelib install utest --quiet
          haxelib dev swf ${{ github.workspace }}

      - name: Setup environment
        run: |

      - name: Run tests on HashLink
        working-directory: tests
        run: |
          haxelib run openfl test hl

  samples-openfl-develop:
    needs: package-haxelib
    strategy:
      matrix:
        haxe-version: [3.4.7, 4.0.5, 4.1.5, 4.2.5, 4.3.6]
    runs-on: ubuntu-latest
    steps:

      - uses: krdlab/setup-haxe@v1
        with:
          haxe-version: ${{ matrix.haxe-version }}

      - name: Set HAXEPATH
        run: |
          echo "HAXEPATH=$HAXE_STD_PATH/.." >> $GITHUB_ENV

      - uses: actions/download-artifact@v4
        with:
          name: swf-haxelib
          path: swf-haxelib

      - name: Install Haxe dependencies
        run: |
          haxelib install lime --quiet
          haxelib git openfl https://github.com/openfl/openfl --quiet
          haxelib install layout --quiet
          haxelib run openfl setup -alias -y
          haxelib git openfl-samples https://github.com/openfl/openfl-samples --quiet
          haxelib dev swf swf-haxelib

      - name: Create OpenFL samples
        run: |
          openfl create NyanCat -verbose -nocolor
          openfl create SimpleSWFLayout -verbose -nocolor

      - name: Build Neko samples
        run: |
          lime build NyanCat html5 -release -verbose -nocolor
          lime build SimpleSWFLayout html5 -release -verbose -nocolor

      - name: Build Neko samples
        run: |
          lime build NyanCat neko -release -verbose -nocolor
          lime build SimpleSWFLayout neko -release -verbose -nocolor

      - name: Build Flash samples
        run: |
          lime build NyanCat flash -release -verbose -nocolor
          lime build SimpleSWFLayout flash -release -verbose -nocolor

      - name: Build HashLink samples
        if: ${{ matrix.haxe-version != '3.4.7' }}
        run: |
          lime build NyanCat hl -release -verbose -nocolor
          lime build SimpleSWFLayout hl -release -verbose -nocolor
